@model List<IGames.Domain.DomainModels.VideoGame>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    IEnumerable<SelectListItem> g = null;
    if (ViewData["Genres"] == null)
    {
        g = (IEnumerable<SelectListItem>)TempData["Genres"];
    }
    else
    {
        g = (IEnumerable<SelectListItem>)ViewData["Genres"];
    }
}
<div class="p-5 bg-info text-white">
    <h1>Available VideoGames</h1>
</div>
@if (User.IsInRole("ADMIN"))
{
    <div class="p-3">
        <a class="btn btn-success" asp-action="ExportAllVideoGames" asp-controller="VideoGames">Export All VideoGames</a>
    </div>

                    }
<hr class="p-3" />
<div class="container">
    @if (User.IsInRole("ADMIN"))
    {

        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary" asp-controller="VideoGames" asp-action="Create">Create New VideoGame</a>
            </div>

            <div class="col-md-6">
                <form class='form-inline float-right' method="post" asp-controller="VideoGames" asp-action="FilterVideoGamesByGenre">
                    <div class="form-group">
                        @{ var genres = g; }
                        Filter by genre:&nbsp;&nbsp;&nbsp; <select name="genre" asp-items="genres" class="form-control"></select>
                        &nbsp;&nbsp;&nbsp;<input type="submit" value="Filter" class="form-control btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

    }
    else
    {
        <div class="row">

            <div class="col-md-12">
                <form class='form-inline float-right' method="post" asp-controller="VideoGames" asp-action="FilterVideoGamesByGenre">
                    <div class="form-group">
                        @{ var genres = g; }
                        Filter by genre:&nbsp;&nbsp;&nbsp; <select name="genre" asp-items="genres" class="form-control"></select>
                        &nbsp;&nbsp;&nbsp;<input type="submit" value="Filter" class="form-control btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }

    <hr />
    <div class="text-danger p-3">@ViewData["ErrorMessage"]</div>

    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];

        if (i % 3 == 0)
        {
            @:<div class="row" style="margin:auto">
            }
            <div class="card m-3" style="width: 20rem; height: 40rem;">
                <div class="card-header" style="margin:auto;">
                    VideoGame: @item.GameTitle
                </div>
                <img class="card-img-top" src="@item.Image" style="max-width: 300px; max-height:200px; margin:auto;" alt="Game poster" />
                <div class="card-body">
                    <h3 class="card-title">Game: @item.GameTitle</h3>
                    <p class="card-text">
                        Genre: @item.Genre <br />
                        Quantity: @item.Quantity<br />
                        Description: @item.Description<br />
                        <span class='font-weight-bold'>Price: @item.Price $</span>
                    </p>
                </div>

                <div class="card-footer" style="margin:auto;">
                    <div class="row">
                        <a asp-controller="VideoGames" asp-action="AddVideoGameToCart" asp-route-id="@item.Id" class="btn btn-success">Add to Cart</a>&nbsp;
                        @if (User.IsInRole("ADMIN"))
                        {
                            <a asp-controller="VideoGames" asp-action="Edit" asp-route-videoGameId="@item.Id" class="btn btn-secondary pr-2">Edit Details</a>
                            <button class="btn btn-danger js-delete" data-id="@item.Id">Delete</button>
                        }
                    </div>
                </div>
            </div>

            if (i % 3 == 2)
            {
            @:</div>
        }
    }

</div>
@section Scripts{ 
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
    $(".js-delete").click(function () {
        var button = $(this);
        bootbox.confirm({
            message: "Are you sure you want to delete the video game?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (res) {
                if (res) {
                    $.ajax({
                        method: "POST",
                        url: "/VideoGames/Delete/" + button.attr("data-id"),
                        success: function () {
                            location.reload();
                        }
                    });
                }
            }
        });
    });
</script>
    }